name: Caller Void Linux Packages

on:
  workflow_dispatch:
    inputs:
      force_package:
        description: "Force rebuild of a specific package (optional)"
        required: false
        default: ""

jobs:
  prepare:
    uses: ./.github/workflows/merge-repos.yaml
  release:
    needs: prepare
    uses: ./.github/workflows/new-release.yaml
    with:
      artifact-name: ${{ needs.prepare.outputs.artifact-name }}
      force_package: ${{ github.event.inputs.force_package }}
