name: Build and Release Void Linux Packages

env:
  # TAG: workflow-${{ github.run_number }}
  TAG: build-${{ github.run_number }}-${{ github.sha }}
  SHA: ${{ github.sha }}

on:
  workflow_dispatch:
    inputs:
      force_package:
        description: "Force rebuild of a specific package (optional)"
        required: false
        default: ""
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - srcpkgs/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# ------------------------------------------------------------
# 1. PREPARE — merge repo into void-packages and archive
# ------------------------------------------------------------
jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: void-linux/void-packages
          ref: master

      - name: Merge this repository into void-linux/void-packages
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global --add safe.directory "*"

          git remote add -f grvn https://github.com/grvn/void-packages.git
          git merge --no-commit --strategy-option=theirs --allow-unrelated-histories -Xignore-space-change grvn/main

          mkdir -p hostdir/binpkgs
          # gh release download --pattern "*${ARCH}*" --dir hostdir/binpkgs --repo grvn/void-packages || true
          find -mindepth 1 -maxdepth 1 -exec tar czf source.tgz {} \+

      - uses: actions/upload-artifact@v4
        with:
          name: source
          path: source.tgz
          retention-days: 1
          # include-hidden-files: true

# ------------------------------------------------------------
# 2. INIT — detect changed packages and produce matrix
# ------------------------------------------------------------
  init:
    needs: prepare
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    container:
      image: ghcr.io/void-linux/void-glibc-full:20250901R1
      options: --platform linux/amd64
      env:
        ARCH: x86_64
        XBPS_TARGET_ARCH: x86_64
    outputs:
      matrix: ${{ steps.find-packages.outputs.matrix }}

    steps:
      - name: Prep container
        run: |
          mkdir -p /etc/xbps.d
          cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          xbps-install -Syu xbps
          xbps-install -yu
          xbps-install -y bash curl git github-cli tar jq sudo proot
          useradd -G xbuilder -M builder -s /bin/bash

      - uses: actions/download-artifact@v4
        with:
          name: source

      - run: tar xzf source.tgz

      - id: find-packages
        # env:
        #   GH_TOKEN: ${{ github.token }}
        run: |
          git config --global --add safe.directory /__w/void-packages/void-packages
          latest_sha=$(git rev-list --max-parents=0 HEAD)
          change=$(git diff-tree -r --no-renames --name-only --diff-filter=AM ${latest_sha} ${SHA} -- 'srcpkgs/**' | cut -d/ -f2 | uniq)

          if [ -n "${{ github.event.inputs.force_package }}" ]; then
            change="$change ${{ github.event.inputs.force_package }}"
          fi

          chown -R builder:builder .

          if [ -z "$change" ]; then
            echo "[]" > /tmp/matrix.json
          else
            echo "$change" | sudo -Eu builder xargs ./xbps-src sort-dependencies | jq -R | jq -cs | tee /tmp/matrix.json
          fi

          echo "matrix=$(cat /tmp/matrix.json)" >> $GITHUB_OUTPUT

# ------------------------------------------------------------
# 3. BUILD — parallel builds, isolated dirs, upload artifacts
# ------------------------------------------------------------
  build:
    needs: init
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' && needs.init.outputs.matrix != '[]' }}
    # permissions:
    #   contents: write
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.init.outputs.matrix) }}
        arch:
          - x86_64
          # - x86_64-musl
        include:
          - arch: x86_64
            libc: glibc
          # - arch: x86_64-musl
          #   libc: musl
    container:
      image: ghcr.io/void-linux/void-${{ matrix.libc }}-full:20250901R1
      options: --platform linux/amd64
      env:
        ARCH: ${{ matrix.arch }}
        XBPS_TARGET_ARCH: ${{ matrix.arch }}

    steps:
      - name: Prep container
        run: |
          mkdir -p /etc/xbps.d
          cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          xbps-install -Syu xbps
          xbps-install -yu
          xbps-install -y sudo bash git tar proot
          useradd -G xbuilder -M builder -s /bin/bash

      - uses: actions/download-artifact@v4
        with:
          name: source

      - run: tar xzf source.tgz

      - name: Isolate build dirs
        run: |
          mkdir -p masterdir-${{ matrix.arch }}-${{ matrix.package }}
          mkdir -p hostdir/binpkgs-${{ matrix.package }}

          chown -R builder:builder .
          echo XBPS_BUILD_ENVIRONMENT=ci >> etc/conf
          echo XBPS_ALLOW_RESTRICTED=yes >> etc/conf
          echo XBPS_CHROOT_CMD=proot >> etc/conf
          echo XBPS_MAKEJOBS="$(nproc)" >> etc/conf

          if [ ! -d masterdir-${{ matrix.arch }}-${{ matrix.package }}/usr ]; then
            sudo -Eu builder ./xbps-src -m masterdir-${{ matrix.arch }}-${{ matrix.package }}  -A ${{ matrix.arch }} binary-bootstrap
          fi

      # -------------------- Packages to build --------------------

      - id: build-package
        run: |
          set -e
          sudo -Eu builder ./xbps-src -f pkg -m masterdir-${{ matrix.arch }}-${{ matrix.package }} -A ${{ matrix.arch }} "${{ matrix.package }}"

          pkgfile=$(ls hostdir/binpkgs-${{ matrix.package }}/*.xbps | head -n1)
          echo "pkg=$(basename "$pkgfile")" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        with:
          name: void-${{ matrix.package }}
          path: hostdir/binpkgs-${{ matrix.package }}/*.xbps

      - if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: logs-${{ matrix.package }}
          path: ./builddir/.xbps-src*log

# ------------------------------------------------------------
# 4. RELEASE — merge artifacts, sign repo, publish release
# ------------------------------------------------------------
  newrelease:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.ref == 'refs/heads/main' && needs.build.result == 'success' }}
    container:
      image: ghcr.io/void-linux/void-glibc-full:20250901R1
      options: --platform linux/amd64

    steps:
      - name: Prep container
        run: |
          mkdir -p /etc/xbps.d
          cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          xbps-install -Syu xbps
          xbps-install -yu
          xbps-install -y sudo bash git tar

      - uses: actions/download-artifact@v4
        with:
          path: repo
          pattern: void-*
          merge-multiple: true

      - name: Clean & sign
        working-directory: ./repo
        env:
          PRIVKEY: ${{ secrets.PRIV_KEY }}
          XBPS_PASSPHRASE: ${{ secrets.SIGN_PASS }}
        run: |
          xbps-rindex --remove-obsoletes ${PWD}
          printf "%s\n" "${PRIVKEY}" > key.pem
          xbps-rindex --privkey key.pem --sign --signedby "${{ github.repository }}-github-actions" --verbose ${PWD}
          xbps-rindex --privkey key.pem --sign-pkg --verbose ${PWD}/*.xbps
          rm -f key.pem
          xbps-rindex --clean ${PWD}

      - name: checksum
        working-directory: ./repo
        run: |
          rm -rf *.sha256sum *.sha512sum
          for file in *.xbps; do
            sha256sum "${file}" | cut -d ' ' -f1 > "${file}.sha256sum"
            sha512sum "${file}" | cut -d ' ' -f1 > "${file}.sha512sum"
          done

      - uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: "Build ${{ github.sha }}"
          tag_name: ${{ env.TAG }}
          files: repo/*
