name: Build and Release Void Linux Packages

on:
  workflow_dispatch:
    inputs:
      force_package:
        description: "Force rebuild of a specific package (optional)"
        required: false
        default: ""
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - srcpkgs/**

jobs:
  prepare:
    uses: ./.github/workflows/merged-repos.yaml

  detect:
    needs: prepare
    uses: ./.github/workflows/detect-changes.yml
    with:
      artifact-name: ${{ needs.prepare.outputs.artifact-name }}
      force_package: ${{ github.event.inputs.force_package }}

  build:
    needs: detect
    if: ${{ needs.init.outputs.matrix != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.detect.outputs.matrix) }}
        arch:
          - x86_64
          - x86_64-musl
        include:
          - arch: x86_64
            libc: glibc
          - arch: x86_64-musl
            libc: musl
    uses: ./.github/workflows/build-package.yml
    with:
      artifact-name: ${{ needs.prepare.outputs.artifact-name }}
      package: ${{ matrix.package }}
      arch: ${{ matrix.arch }}
      libc: ${{ matrix.libc }}

  repo_tree:
    needs: build
    if: ${{ needs.build.result == 'success' }}
    uses: ./.github/workflows/repo-tree.yml

  index:
    needs: repo_tree
    strategy:
      fail-fast: false
      matrix:
        arch: [ x86_64, x86_64-musl ]
    uses: ./.github/workflows/index.yml
    with:
      arch: ${{ matrix.arch }}

  sign:
    needs: repo_tree
    strategy:
      fail-fast: false
      matrix:
        arch: [ x86_64, x86_64-musl ]
    uses: ./.github/workflows/sign.yml
    with:
      arch: ${{ matrix.arch }}
    secrets: inherit

  diff:
    needs: sign
    uses: ./.github/workflows/diff-dashboard.yml

  release:
    needs: diff
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download signed repo
        uses: actions/download-artifact@v7
        with:
          name: signed-repo
          path: repo

      - name: Download diff.md
        uses: actions/download-artifact@v7
        with:
          name: diff-md
          path: .

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          name: "Build ${{ github.sha }}"
          tag_name: build-${{ github.run_number }}-${{ github.sha }}
          draft: true
          body_path: diff.md
          files: repo/**
