name: Index Repo

on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
      libc:
        required: true
        type: string
    outputs:
      produced:
        value: ${{ jobs.index.outputs.produced }}

jobs:
  index:
    runs-on: ubuntu-latest
    outputs:
      produced: ${{ steps.check.outputs.exists }}

    steps:
      - uses: actions/download-artifact@v7
        with:
          name: repo-tree
          path: .

      - name: Check if this arch has any packages
        id: check
        run: |
          newdir="repo/${{ inputs.arch }}"
          olddir="oldrepo/${{ inputs.arch }}"

          newcount=$(ls "$newdir"/*.xbps 2>/dev/null | wc -l || true)
          oldcount=$(ls "$olddir"/*.xbps 2>/dev/null | wc -l || true)

          if [ "$newcount" -eq 0 ] && [ "$oldcount" -eq 0 ]; then
            echo "exists=false" >> $GITHUB_OUTPUT
            echo "No packages for ${{ inputs.arch }} — skipping."
          else
            echo "exists=true" >> $GITHUB_OUTPUT
            echo "Found packages for ${{ inputs.arch }} — processing."
          fi

      # Safe guard against race condition in github actions
      - name: Stop early if no packages exist
        if: steps.check.outputs.exists == 'false'
        run: exit 0

      - name: Merge old packages
        if: steps.check.outputs.exists == 'true'
        run: |
          mkdir -p repo/${{ inputs.arch }}
          cp oldrepo/${{ inputs.arch }}/*.xbps repo/${{ inputs.arch }}/ 2>/dev/null || true

      - name: Rebuild repodata for ${{ inputs.arch }}
        if: steps.check.outputs.exists == 'true'
        uses: maus007/docker-run-action-fork@207a4e2a8ebf7e4b985656ba990b1e53715dce2a
        with:
          image: ghcr.io/void-linux/void-${{ inputs.libc }}-full:20250616R1
          options: -v ${{ github.workspace }}/repo:/repo --platform linux/amd64
          run: |
            cd /repo/${{ inputs.arch }}
            rm -f *repodata
            xbps-rindex -a *.xbps

      - uses: actions/upload-artifact@v6
        if: steps.check.outputs.exists == 'true'
        with:
          name: indexed-repo-${{ inputs.arch }}
          path: repo/${{ inputs.arch }}
